/**
*
* Backend CSS Settings
*
* @By Zekinah Lecaros
*
**/
.zone-title {
  display: inline-block;
}

.zone-version {
  font-size: 12px;
  font-weight: normal;
  color: #7a919e;
  margin: 10px 0;
  line-height: 1.7;
  max-width: 840px;
}
.zone-title-short {
  font-size: 18px;
  display: table;
  padding-right: 50px;
  padding-left: 3px;
  padding-bottom: 3px;
}
.zone-title-sub {
  font-size: 18px;
}

.zone-card {
  font-size: 13px;
  line-height: 1.5;
}

.hello-section__content .card {
  margin: 20px auto 0;
  width: 50%;
}

.hello-section__content .card label {
  float: left !important;
}

.pending {
  color: #ff9900;
}

.accepted {
  color: #4ebb0a;
}

.declined {
  color: #ff3616;
}

p .button {
  vertical-align: baseline;
}

.btn {
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px !important;
}

.btn:hover {
  color: #fff;
}

button#btn-restore-content:hover,
button#btn-restore-email-settings:hover {
  color: #000;
}

.toggle .toggle-group label.btn:hover {
  color: #000 !important;
}

/* Style the tab */
.tab-content .tab-pane {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.tab-content .tab-pane.active {
  background: #fff;
  padding-bottom: 15px;
}

a:focus {
  box-shadow: none;
}

textarea.form-control {
  height: 175px;
}

.card {
  padding: .7em 2em 1em !important;
  max-width: 100% !important;
}

div#actionbutton {
  text-align: right;
}

input[type=color] {
  height: 40px;
}

iframe#terms_wp_content_ifr {
    height: 450px !important;
}